<nav class="navbar">
  <a class="brand" [routerLink]="currentUser() ? (currentUser()?.role?.toLowerCase() === 'professor' ? ['/professor'] : ['/student']) : ['/']">{{ title() }}</a>
  <div class="nav-container">
    <!-- show Login/Register only when not logged in -->
    <ng-container *ngIf="!currentUser()">
      <button class="nav-btn" [routerLink]="['/login']">Login</button>
      <button class="nav-btn" [routerLink]="['/register']">Get started</button>
    </ng-container>

    <!-- when logged in show username + logout -->
    <ng-container *ngIf="currentUser()">
      <div class="user-wrapper">
        <span class="user-name">{{ currentUser()?.username }}</span>
        <button class="nav-btn" (click)="logout()">Logout</button>
      </div>
    </ng-container>
  </div>
</nav>

<router-outlet></router-outlet>
