<div class="hero">
  <div class="hero-inner">
    <h1>TeachAssist</h1>
    <p class="subtitle">Organizează lecțiile. Ajută studenții. Simplifică predarea.</p>

      <div class="hero-cta">
        <ng-container *ngIf="!logged">
        <a class="hero-btn hero-btn--soft" [routerLink]="['/login']">Conectează-te</a>
        <a class="hero-btn hero-btn--accent" [routerLink]="['/register']">Înregistrează-te</a>
        </ng-container>
        <ng-container *ngIf="logged">
        <a class="hero-btn hero-btn--accent" [routerLink]="['/dashboard']">Mergi în dashboard</a>
        </ng-container>
      </div>
      </div>
    </div>

